<h1>Listing of Global Cities</h1>

<table border=0>
  <tr>
    <th>Country</th>
    <th>City</th>
    <th>Accent city</th>
    <th>Region/State</th>
    <th>Population</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>

<% for city_global_location in @city_global_locations %>
	<tr class="<%= cycle('odd', 'even') %>">
    <td><%=h city_global_location.country %> - <%=h CountryCode.find_country( city_global_location ) %></td>
    <td><%=h city_global_location.city %></td>
    <td><%=h city_global_location.accent_city %></td>
    <td><%=h city_global_location.region %></td>
    <td><%=h number_with_delimiter city_global_location.population %></td>
    <td><%=h city_global_location.latitude %></td>
    <td><%=h city_global_location.longitude %></td>
    <td><%= link_to 'Show', city_global_location %></td>
  </tr>
<% end %>
</table>

<hr/>
<%= will_paginate @city_global_locations %>
<hr/>

<br />
